.home-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.home-main {
    grid-area: main;
}

.home-sidebar {
    grid-area: sidebar;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden
}

.home-textarea {
    box-shadow: none !important;
    height: calc(100vh - 5rem);
    resize: none;
}

.sidebar-header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav-list-ml {
    margin-left: 1rem;
}

.nav-list-add {
    display: none;
}

.nav-list-add.active {
    color: var(--bs-white);
}

.nav-list-btn {
    background-color: var(--bs-dark);
}

.nav-list-btn:hover, .nav-list-btn:focus {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
}

.nav-list-btn.active:hover, .nav-list-btn:focus {
    color: var(--bs-white);
}

.nav-list-btn.active {
    background-color: var(--bs-primary);
}

.nav-list-btn:hover .nav-list-add {
    display: flex;
    color: var(--bs-white);
}

#options-dropdown.dropdown-toggle::after {
    display: none;
}
