.home-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.home-main {
    grid-area: main;
}

.home-sidebar {
    grid-area: sidebar;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bs-gray-200) !important;
}

.home-textarea {
    box-shadow: none !important;
    height: calc(100vh - 5rem);
    resize: none;
}

.sidebar-header {
    background-color: var(--bs-gray-200) !important;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.sidebar-search {
    background-color: var(--bs-gray-200) !important;
    border-color: var(--bs-gray-600) !important;
}

.sidebar-selected {
    background-color: var(--bs-gray-400) !important;
}

.nav-list-ml {
    margin-left: 1rem;
}

.nav-list-btn {
    min-height: 38px;
}

.nav-list-btn:hover {
    border-color: var(--bs-gray-600) !important;
}

.nav-list-add {
    display: none !important;
}

.nav-list-btn:hover .nav-list-add {
    display: flex !important;
}

#options-dropdown.dropdown-toggle::after {
    display: none !important;
}
